.contact-wrapper{
    padding: 85px 0;
    background: rgba(0,0,0,0.2);
}
.contact-content{
    width: 50%;
    margin: 0 auto;
}
.contact-title{
    text-align: center;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #40424A;
    border-bottom: 2px solid #FC6060;
    display: inline-block;
    margin-bottom: 25px;
}
.contact-wrapper input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-wrapper textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-wrapper label{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;

}
  
.contact-wrapper input[type=submit] {
    width: 100%;
    background-color: #FC6060;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}
  
.contact-wrapper input[type=submit]:hover {
    background-color: #ec4848;
}

/* responsive */

@media (min-width: 320px) and (max-width: 480px) {
    .contact-wrapper{
        padding: 50px 0;
    }
    .contact-content{
        width: 100%;
    }
    .contact-title{
        font-size: 36px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .contact-content{
        width: 100%;
    }
    .contact-title{
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact-content{
        width: 100%;
    }
    .contact-title{
        font-size: 50px;
    }
}
  