.education-wrapper{
    background-image: url('../images/education.jpg');
}
.education-content{
    padding: 85px 0px 50px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.education-title{
    text-align: center;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #40424A;
    border-bottom: 2px solid #FC6060;
    display: inline-block;
    margin-bottom: 50px;
}
.education-single{
    border-left: 2px solid #40424A;
    position: relative;
    text-align: left;
    padding: 25px 0 25px 80px;
}
.education-single::before{
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #FC6060;
    position: absolute;
    top: 50%;
    left: -9px;
}
.education-time{
    font-size: 22px;
    color: #40424A;
    font-family: 'Josefin Sans', sans-serif;
}
.education-board{
    font-size: 30px;
    color: #40424A;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
.education-institute{
    font-size: 20px;
    color: #808181;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;

}

/* responsive */

@media (min-width: 320px) and (max-width: 480px) {

    .education-content{
        width: 100%;
        padding: 50px 0;
    }
    .education-title{
        font-size: 36px;
    }
    .education-single{
        padding-left: 30px;
    }
    .education-time{
        font-size: 22px;
    }
    .education-board{
        font-size: 22px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .education-content{
        width: 100%;
    }
    .education-title{
        font-size: 40px;
    }
    .education-single{
        padding-left: 30px;
    }
    .education-time{
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .education-content{
        width: 80%;
        margin: 0 auto;
    }
    .education-title{
        font-size: 50px;
    }
    .education-single{
        padding-left: 30px;
    }
    .education-time{
        font-size: 22px;
    }
}