.exp-wrapper{
    /* background: #f1f1f1; */
    background-image: url(../images/experience.jpg);
    background-size: cover;
    position: relative;
}
.exp-wrapper::before{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
}
.exp-content{
    padding: 85px 0px 50px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.exp-title{
    text-align: center;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #40424A;
    border-bottom: 2px solid #FC6060;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
}
.exp-single{
    border-left: 2px solid #40424A;
    padding-left: 80px;
    margin: 50px 0;
    position: relative;
    text-align: left;
}
.exp-single::before{
    content: '';
    display: block;
    height: 50px;
    width: 10px;
    background-color: #FC6060;
    position: absolute;
    top: 10%;
    left: -6px;
}
.exp-time{
    font-size: 40px;
    color: #40424A;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.exp-position{
    font-size: 22px;
    color: #808181;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}
.exp-company{
    font-size: 30px;
    color: #40424A;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;

}
.exp-desc{
    font-size: 16px;
    color: #40424A;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 80%;
}


/* Responsive */

@media (min-width: 320px) and (max-width: 480px) {

    .exp-content{
        width: 100%;
        padding: 50px 0;
    }
    .exp-title{
        font-size: 36px;
    }
    .exp-single{
        padding-left: 30px;
    }
    .exp-time{
        font-size: 22px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .exp-content{
        width: 100%;
    }
    .exp-title{
        font-size: 40px;
    }
    .exp-single{
        padding-left: 30px;
    }
    .exp-time{
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .exp-content{
        width: 80%;
        margin: 0 auto;
    }
    .exp-title{
        font-size: 50px;
    }
    .exp-single{
        padding-left: 30px;
    }
    .exp-time{
        font-size: 22px;
    }
}