header{
    /* background: #40464e; */
    background: #fff;
}
.navbar{
    padding: 10px 0;
}
header .nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-top: 2px solid #FC6060;
    border-bottom: 2px solid #FC6060;
    padding: 30px;
    border-radius: 50%;
    transition: 0.5s;
}
header .nav-logo a{
    color: #FC6060;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    
}
header .nav-logo:hover{
    border-top: 2px solid #00D646;
    border-bottom: 2px solid #00D646;
    border-right: none;
    border-left: none;
}
header .nav-logo:hover a{
    color: #00D646;
}

.navbar .nav-list ul{
    margin: 0;
}
.navbar .nav-list ul li{
    display: inline-block;
    margin: 0 10px;
}
.navbar .nav-list ul li a{
    display: inline-block;
    position: relative;
    margin-left:15px;
    font-size: 16px;
    color: #FC6060;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar .nav-list ul li a:hover{
    color: #00D646;
    transition: 0.5s
}
.navbar .nav-list ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #00D646;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: left;
}
.navbar .nav-list ul li a:hover:before{
    transform: scaleX(1);
}


/* responsive */

@media (min-width: 320px) and (max-width: 480px) {

    header .nav-logo{
        padding: 25px;
    }
    header .nav-logo a{
        font-size: 24px;
    }
  
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .nav-list ul{
        padding: 0;
    }
    .navbar .nav-list ul li{
        padding: 0;
        margin: 0 4px;
    }
    .navbar .nav-list ul li a{
        font-size: 11px;
        margin: 0;
    }
    header nav .container{
        padding: 0;
        margin: 0;
    }

}