.banner-wrapper{
    background-image: url('../images/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-wrapper::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
.banner-content{
    position: absolute;
    top: 30%;
    left: 10%;
}
.banner-title{
    font-size: 85px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 15px;
}
.banner-subtitle{
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    letter-spacing: 5px;
    padding-left: 10px;
}

/* responsive */

@media (min-width: 320px) and (max-width: 480px) {
  
    .banner-title{
        font-size: 40px;
        letter-spacing: 5px;
    }
    .banner-subtitle{
        font-size: 18px;
        padding-left: 5px;
    }
    
    
}

@media (min-width: 481px) and (max-width: 767px) {
  
    .banner-title{
        font-size: 45px;
        letter-spacing: 5px;
    }
    .banner-subtitle{
        font-size: 18px;
        padding-left: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .banner-title{
        font-size: 65px;
        letter-spacing: 5px;
    }
    .banner-subtitle{
        font-size: 20px;
    }
}