.portfolio-wrapper{
    background: rgba(0,0,0,0.2);
    padding: 85px 0;
}
.portfolio-content{
    text-align: center;
}
.portfolio-title{
    text-align: center;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #40424A;
    border-bottom: 2px solid #FC6060;
    display: inline-block;
    margin-bottom: 25px;
}
.portfolios{
    padding: 50px 0;
}
.portfolios a{
    text-decoration: none;
}
.port1{
    background-image: url(../images/skinarts.png);  
}
.port2{
    background-image: url(../images/dhi-nepal.png);  
}
.port3{
    background-image: url(../images/exponent.png);  
}
.port4{
    background-image: url(../images/asian-dental.png);  
}
.port5{
    background-image: url(../images/machinery.png);  
}
.portfolio-single{
    height: 300px;
    width: 100%;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 15px 0;
}
.portfolio-single::before{
    content: '';
    display: block;
    background: #FC6060;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
}
.portfolio-single:hover:before{
    transform: scaleY(1);
    transform-origin: top;
}
.site{
    transform: scaleY(0);
    transition: 0.5s;
    position: relative;
    z-index: 3;
}
.site h3{
    font-size: 32px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 3;
    position: relative;
}
.site h4{
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    position: relative;
}
.portfolios a:hover .site{
    transform: scaleY(1);
}

/* responsive */

@media (min-width: 320px) and (max-width: 480px) {
    .portfolio-wrapper{
        padding: 50px 0;
    }
    .portfolios {
        padding: 0;
    }
    .portfolio-title{
        font-size: 36px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .portfolios {
        padding: 0;
    }
    .portfolio-title{
        font-size: 40px;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .portfolios {
        padding: 0;
    }
    .portfolio-title{
        font-size: 50px;
    }
}