.skills-wrapper{
    background: #fff;
    padding: 85px 0;
}
.skills-title{
    text-align: center;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #40424A;
    border-bottom: 2px solid #FC6060;
    display: inline-block;
    margin-bottom: 50px;
}
.information{
    text-align: center;
}
.basic-info{
    text-align: left;
}
.basic-info ul{
    width: 78%;
    margin: 0 auto;
}
.basic-info ul li{
    list-style: none;
    font-size: 18px;
    color: #808181;
    font-family: 'Roboto', sans-serif;
}
.basic-info span{
    font-size: 22px;
    color: #40424A;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    min-width: 150px;
}
.expertise-images img{
    display: inline-block;
    height: 85px;
    width: 85px;
    margin: 10px 35px;
    filter: grayscale(0);
}
.expertise-images img:hover{
    filter: grayscale(100%);
    cursor: pointer;
}
.expertise-images .reactlogo{
    animation: reactspin 10s linear infinite;
}
@keyframes reactspin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.social-icon ul{
    margin-top: 75px;
    padding: 0;
}
.social-icon ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 50px;
}
.social-icon ul li a i{
    font-size: 36px;
    color: #000;
}

.social-icon ul li a .fa-facebook:hover{
    color: #3B5CA0;
}
.social-icon ul li a .fa-instagram:hover{
    color: #ED526B;
}
.social-icon ul li a .fa-twitter:hover{
    color: #1DA1F2;
}

/* responsive */
@media (min-width: 320px) and (max-width: 480px) {
    .skills-wrapper{
        padding: 50px 0;
    }
    .skills-title{
        font-size: 36px;
        margin: 25px;
    }
    .information{
        text-align: left;
    }
    .basic-info ul{
        width: 100%;
    }
    .basic-info ul li{
        margin: 10px 0;
    }
    .basic-info span{
        font-size: 20px;
        display: block;
    }

    .social-icon ul{
        margin-top: 25px;
        padding-left: 20px;
    }
    .social-icon ul li{
        margin: 0px 20px;
    }
    .social-icon ul li a i{
        font-size: 25px;
    }
    .expertise-images{
        text-align: center;
    }
    .expertise-images img {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 10px 15px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .skills-wrapper{
        background: #fff;
        padding: 0 0 85px;
    }
    .skills-title{
        font-size: 40px;
        margin: 50px 0;
    }
    .expertise-images img{
        margin: 10px 30px;
    }
    .basic-info ul{
        width: 100%;
    }
    .basic-info ul li{
        margin: 10px 0;
    }
    .basic-info span{
        font-size: 20px;
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .skills-title{
        font-size: 50px;
    }
    .basic-info ul{
        width: 100%;
    }
    .basic-info ul li{
        margin: 10px 0;
    }
    .basic-info span{
        font-size: 20px;
        display: block;
    }
    .social-icon ul li{
        margin: 0px 20px;
    }
    .expertise-images img{
        margin: 10px 10px;
    }
}


