/* google font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/* google font *//* google font */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}